@model Web.Models.UserViewModel

@*
    @{
        ViewBag.Title = "LogIn";
    }

    <h2>LogIn</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>UserViewModel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.login, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
        if(Session["Login"] != null)
        {
            <h3>Welcome @Session["Login"]</h3>

        }
        else
        {
            <h2>@Session["Erreur"]</h2>
        }
    }
*@


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Login V2</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="~/loginStyle/images/icons/favicon.ico" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/loginStyle/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/loginStyle/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/loginStyle/fonts/iconic/css/material-design-iconic-font.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/loginStyle/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/loginStyle/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/loginStyle/vendor/animsition/css/animsition.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/loginStyle/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/loginStyle/vendor/daterangepicker/daterangepicker.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/loginStyle/css/util.css">
        <link rel="stylesheet" type="text/css" href="~/loginStyle/css/main.css">
        <!--===============================================================================================-->


    </head>
    <body>

        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                   @using (Html.BeginForm())
                   {
                    @Html.AntiForgeryToken()

                        <span class="login100-form-title p-b-26">
                            Welcome
                        </span>
                        <span class="login100-form-title p-b-48">
                            <i class="zmdi zmdi-font"></i>
                        </span>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                            
                            @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "input100" } })
                            
                            <span class="focus-input100" data-placeholder="Email"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <span class="btn-show-pass">
                                <i class="zmdi zmdi-eye"></i>
                            </span>
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "input100" } })
                         
                            <span class="focus-input100" data-placeholder="Password"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button type="submit" value="Submit" class="login100-form-btn">
                                    Login
                                    
                                </button>
                            </div>
                        </div>

                        <div class="text-center p-t-115">
                            <span class="txt1">
                                Don’t have an account?
                            </span>

                            <a class="txt2" href="#">
                                Sign Up
                            </a>
                        </div>
                   }
                </div>
            </div>
        </div>


        <div id="dropDownSelect1"></div>


        <!--===============================================================================================-->
        <script src="~/loginStyle/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/loginStyle/vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/loginStyle/vendor/bootstrap/js/popper.js"></script>
        <script src="~/loginStyle/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/loginStyle/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/loginStyle/vendor/daterangepicker/moment.min.js"></script>
        <script src="~/loginStyle/vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="~/loginStyle/vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="~/loginStyle/js/main.js"></script>


    </body>
    </html>