@model IEnumerable<MAPINFINITY2.Areas.admin2.Models.ResourceViewModel>

@{
    ViewBag.Title = "calculFactureMandat";
    Layout = "~/Areas/admin2/Views/Shared/_Layoutadmin2.cshtml";
}

<h2>calculFactureMandat</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DTYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contractype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seniority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stateApplicant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalFactureMandat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salaireHoraire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yearsOfExperience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ipAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.holiday)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DTYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contractype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.profil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seniority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stateApplicant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalFactureMandat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salaireHoraire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yearsOfExperience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ipAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.holiday)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
