@model Web.Models.ResourceViewModelDetails

@{
    ViewBag.Title = "DetailResource";
    Layout = "~/Areas/admin2/Views/Shared/_Layoutadmin2.cshtml";

}

<div class="pageheader hidden-xs">
    <h3><i class="fa fa-home"></i> My Profile </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="#"> Home </a> </li>
            <li class="active"> Profile </li>
        </ol>
    </div>
</div>
<div id="page-content">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">

            <div class="userWidget-1">
                <div class="avatar bg-info">
                    <img src="~/Image/@Url.Content(Model.picture)" width="50" height="50" />
                    <div class="name osLight"> @Html.DisplayFor(model => model.lastname) @Html.DisplayFor(model => model.firstname) </div>
                </div>
                <div class="title"> @for (var i = 0; i < Model.rating; i++)
                {
                    <img src="~/Image/star.png" width="20" height="20" />
                } 
                </div>
                <ul class="fullstats">

                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"> </i> @Html.DisplayFor(model => model.firstname)'s Personal Informations</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><i class="fa fa-external-link ph-5"></i></td>
                                <td> Sector </td>
                                <td> @Html.DisplayFor(model => model.sector)</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-location-arrow ph-5"></i></td>

                                <td> Region </td>
                                <td> @Html.DisplayFor(model => model.region)</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-envelope-o ph-5"></i></td>
                                <td> Profil </td>
                                <td>@Html.DisplayFor(model => model.profil) </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-briefcase ph-5"></i></td>
                                <td> Seniority </td>
                                <td>@Html.DisplayFor(model => model.seniority) (years) </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
       
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"> </i> @Html.DisplayFor(model => model.firstname)'s Professional Informations</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td> Contract Type </td>
                                <td>@Html.DisplayFor(model => model.contractype)</td>
                            </tr>

                            <tr>
                                <td> Status </td>
                                @if (Model.state == "Available")
                                {
                                    <td><span class="label label-sm label-info">@Html.DisplayFor(model => model.state)</span></td>

                                }
                                @if (Model.state == "notAvailable")
                                {
                                    <td><span class="label label-sm label-danger">@Html.DisplayFor(model => model.state)</span></td>

                                }
                                @if (Model.state == "SoonAvailable")
                                {
                                    <td><span class="label label-sm label-dark">@Html.DisplayFor(model => model.state)</span></td>

                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <div class="panel">
                <div class="panel-body pad-no">
                    <!--Default Tabs (Left Aligned)-->
                    <!--===================================================-->
                    <div class="tab-base">
                        <!--Nav Tabs-->
                        <ul class="nav nav-tabs">
                            <li class="active"> <a data-toggle="tab" href="#demo-lft-tab-1"> Timeline </a> </li>
                            <li> <a data-toggle="tab" href="#demo-lft-tab-2">Invoice</a> </li>
                            <li> <a data-toggle="tab" href="#demo-lft-tab-3">Chat History</a> </li>
                        </ul>
                        <!--Tabs Content-->
                        <div class="tab-content">
                            <div id="demo-lft-tab-1" class="tab-pane fade active in">
                                <!-- Timeline -->
                                <!--===================================================-->

                                <div class="timeline">
                                    <!-- Timeline header -->
                                    <div class="timeline-header">
                                        <div class="timeline-header-title bg-info">Now</div>
                                    </div>
                                    @*@foreach(var item in ViewBag.result)
                                    { 
                                    <div class="timeline-entry">
                                        <div class="timeline-stat">
                                            <div class="timeline-icon bg-danger"><i class="fa fa-building fa-lg"></i> </div>
                                        </div>
                                        <div class="timeline-label">
                                            <h4 class="mar-no pad-btm"><a href="#" class="text-danger">@item.Title</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                                        </div>
                                    </div>
                                    }*@
                                </div>
                                <!--===================================================-->
                                <!-- End Timeline -->
                            </div>
                            <div id="demo-lft-tab-2" class="tab-pane fade">
                                <!--Hover Rows-->
                                <!--===================================================-->
                                <table class="table table-hover table-vcenter">
                                    <thead>
                                        <tr>
                                            <th>Invoice</th>
                                            <th>Name</th>
                                            <th class="text-center">Value</th>
                                            <th>Delivery date</th>
                                            <th class="hidden-xs">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Order #53451</td>
                                            <td>
                                                <span class="text-semibold">Desktop</span>
                                                <br>
                                                <small class="text-muted">Last 7 days : 4,234k</small>
                                            </td>
                                            <td class="text-center">$250</td>
                                            <td>2012/04/25</td>
                                            <td class="hidden-xs">
                                                <div class="label label-table label-info">On Process</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Order #53451</td>
                                            <td>
                                                <span class="text-semibold">Laptop</span>
                                                <br>
                                                <small class="text-muted">Last 7 days : 3,876k</small>
                                            </td>
                                            <td class="text-center">$350</td>
                                            <td>2012/04/25</td>
                                            <td class="hidden-xs">
                                                <div class="label label-table label-danger">Cancelled</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Order #53451</td>
                                            <td>
                                                <span class="text-semibold">Tablet</span>
                                                <br>
                                                <small class="text-muted">Last 7 days : 45,678k</small>
                                            </td>
                                            <td class="text-center">$325</td>
                                            <td>2012/04/25</td>
                                            <td class="hidden-xs">
                                                <div class="label label-table label-success">Shipped</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Order #53451</td>
                                            <td>
                                                <span class="text-semibold">Smartphone</span>
                                                <br>
                                                <small class="text-muted">Last 7 days : 34,553k</small>
                                            </td>
                                            <td class="text-center">$250</td>
                                            <td>2012/04/25</td>
                                            <td class="hidden-xs">
                                                <div class="label label-table label-warning">Pending</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--===================================================-->
                                <!--End Hover Rows-->
                            </div>
                            <div id="demo-lft-tab-3" class="tab-pane fade">
                                <!--Chat widget-->
                                <!--===================================================-->
                                <div id="demo-chat-body" class="collapse in">
                                    <div class="nano" style="height:550px">
                                        <div class="nano-content pad-all">
                                            <ul class="list-unstyled media-block">
                                                <li class="mar-btm">
                                                    <div class="media-left">
                                                        <img src="img/av1.png" class="img-circle img-sm" alt="Profile Picture">
                                                    </div>
                                                    <div class="media-body pad-hor speech-left">
                                                        <div class="speech">
                                                            <a href="#" class="media-heading">John Doe</a>
                                                            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mar-btm">
                                                    <div class="media-right">
                                                        <img src="img/av4.png" class="img-circle img-sm" alt="Profile Picture">
                                                    </div>
                                                    <div class="media-body pad-hor speech-right">
                                                        <div class="speech">
                                                            <a href="#" class="media-heading">Lucy Doe</a>
                                                            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mar-btm">
                                                    <div class="media-left">
                                                        <img src="img/av1.png" class="img-circle img-sm" alt="Profile Picture">
                                                    </div>
                                                    <div class="media-body pad-hor speech-left">
                                                        <div class="speech">
                                                            <a href="#" class="media-heading">John Doe</a>
                                                            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mar-btm">
                                                    <div class="media-right">
                                                        <img src="img/av4.png" class="img-circle img-sm" alt="Profile Picture">
                                                    </div>
                                                    <div class="media-body pad-hor speech-right">
                                                        <div class="speech">
                                                            <a href="#" class="media-heading">Lucy Doe</a>
                                                            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mar-btm">
                                                    <div class="media-right">
                                                        <img src="img/av4.png" class="img-circle img-sm" alt="Profile Picture">
                                                    </div>
                                                    <div class="media-body pad-hor speech-right">
                                                        <div class="speech">
                                                            <a href="#" class="media-heading">Lucy Doe</a>
                                                            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mar-btm">
                                                    <div class="media-left">
                                                        <img src="img/av1.png" class="img-circle img-sm" alt="Profile Picture">
                                                    </div>
                                                    <div class="media-body pad-hor speech-left">
                                                        <div class="speech">
                                                            <a href="#" class="media-heading">John Doe</a>
                                                            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mar-btm">
                                                    <div class="media-right">
                                                        <img src="img/av4.png" class="img-circle img-sm" alt="Profile Picture">
                                                    </div>
                                                    <div class="media-body pad-hor speech-right">
                                                        <div class="speech">
                                                            <a href="#" class="media-heading">Lucy Doe</a>
                                                            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mar-btm">
                                                    <div class="media-left">
                                                        <img src="img/av1.png" class="img-circle img-sm" alt="Profile Picture">
                                                    </div>
                                                    <div class="media-body pad-hor speech-left">
                                                        <div class="speech">
                                                            <a href="#" class="media-heading">John Doe</a>
                                                            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mar-btm">
                                                    <div class="media-right">
                                                        <img src="img/av4.png" class="img-circle img-sm" alt="Profile Picture">
                                                    </div>
                                                    <div class="media-body pad-hor speech-right">
                                                        <div class="speech">
                                                            <a href="#" class="media-heading">Lucy Doe</a>
                                                            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mar-btm">
                                                    <div class="media-left">
                                                        <img src="img/av1.png" class="img-circle img-sm" alt="Profile Picture">
                                                    </div>
                                                    <div class="media-body pad-hor speech-left">
                                                        <div class="speech">
                                                            <a href="#" class="media-heading">John Doe</a>
                                                            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--Widget footer-->
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-xs-10">
                                                <input type="text" placeholder="Enter your text" class="form-control chat-input">
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-primary btn-block" type="submit">Send</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--===================================================-->
                                <!--Chat widget-->

                            </div>
                        </div>
                    </div>
                    <!--===================================================-->
                    <!--End Default Tabs (Left Aligned)-->
                </div>
            </div>
        </div>
        </div>
    </div>
