@model IEnumerable<Web.Models.ResourceViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin2/Views/Shared/_Layoutadmin2.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<script src="http://code.jquery.com/jquery-1.10.2.js"></script>


<div id="page-content">
    <div class="row">
        <div class="col-md-12">

            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel" style="margin-top: 10%;">
                <div class="panel-heading">
                    <h3 class="panel-title">Resource's List</h3>
                </div>
                <div class="panel-body">
                    <div id="demo-dt-basic_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row" style="margin-left: 8px;margin-top: 2%;">
                            <div class="col-sm-2"><input type="text" id="livesearch" placeholder="Live Search" class="form-control input-sm" /><span class="glyphicon glyphicon-search"></span></div><div class="col-sm-10">
                                <div id="demo-dt-basic_filter" class="dataTables_filter">
                                    @using (Html.BeginForm())
                                    {
                                        <p>
                                            Find by: Firstname: @Html.TextBox("firstname", null, new { @class = "form-control input-sm" }) Lastname: @Html.TextBox("lastname", null, new { @class = "form-control input-sm" })
                                            <input type="submit" value="Search" class="btn btn-info" />
                                        </p>


                                    }
                                </div>
                            </div>
                        </div><div class="row" style="margin-top: 4%;">
                            <div class="col-sm-12">
                                <table id="demo-dt-basic" class="table table-striped table-bordered dataTable no-footer dtr-inline" role="grid" aria-describedby="demo-dt-basic_info">
                                    <thead>
                                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="demo-dt-basic" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 242px;">FirstName</th><th class="sorting" tabindex="0" aria-controls="demo-dt-basic" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 388px;">Lastname</th><th class="min-tablet sorting" tabindex="0" aria-controls="demo-dt-basic" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 180px;">Picture</th></tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var p in ViewBag.result)
            {
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">@p.firstname</td>
                                                <td>@p.lastname</td>
                                                <td><img src="~/Image/@Url.Content(@p.picture)" width="50" height="50" /></td>


                                                <td><a href="#" onclick="popup('@p.seniority','@p.contractype','@p.state')" id="details">More..</a></td>
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = p.id }) |
                                                @Html.ActionLink("Details", "Details", new { id = p.id }, new { @class = "dialog" }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = p.id })
                                            </td>
                                        </tr>


                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popdiv" style="display:none;">
        Seniority : <label id="seniority"></label><br />
        Contract Type : <label id="contract"></label> <br />
        State : <label id="state"></label><br />
    </div>
</div>
<!--===================================================-->
<!-- End Striped Table -->
<script src="~/js/jquery-1.11.2.min.js"></script>
<script src="~/js/jquery-ui.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

<script type="text/javascript">
    var $j = jQuery.noConflict();
        function popup(seniority,contract,state)
        {
            $j('#seniority').text(seniority+" (years)");
            $j('#contract').text(contract);
            $j('#state').text(state);
            $j('#popdiv').dialog({
                title: "DETAILS",
                width: 350,
                height: 250,
                modal: true,
                button: {
                    Close: function () {
                        $(this).dialog("close");
                    }
                }
            })
        }
</script>

<script>

    $(document).ready(function () {
        function Contains(text1,text2) {
            if (text1.indexOf(text2) != -1)
                return true;
        }

        $("#livesearch").keyup(function () {
            var searchtext = $("#livesearch").val().toLowerCase();
            $(".odd").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchtext)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>

@*<script>
        $(document).ready(function () {

            if ("@ViewBag.result" != null) {
                alert("hhhh");
            }
            else {
                alert("okkkkkkk")
            }
        });
    </script>*@
