@model IEnumerable<Web.Models.ResourceViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin2/Views/Shared/_Layoutadmin2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<html>
<table class="table">
    <tr class="thead-dark">
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Picture</th>
    </tr>
    @foreach (var p in ViewBag.result)
            {
        <tr>
           <th>@p.firstname</th>
            <th>@p.lastname</th>
            
            <th><img src="~/Image/@Url.Content(@p.picture)" width="50" height="50" /></th>
            <th>@Html.ActionLink("Edit", "Edit", new { id = p.id }) |
            @Html.ActionLink("Details", "Details", new { id = p.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = p.id })</th>
            
        </tr>
    }
</table>

</html>

