@model Web.Areas.admin2.Models.ClientViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin2/Views/Shared/_Layoutadmin2.cshtml";


}

<h2>Supprimer client</h2>
<br />
<h3>Êtes-vous sûr(e) de vouloir supprimer ce client?</h3>
<div style="display:flex;flex-direction:row;">
    <div class="container" style="margin-top:20px;">
        <dl>
            <dd>
                <img src="~/Image/@Url.Content(Model.logo)" width="200" height="150" />

            </dd>
        </dl>


    </div>
    <div class="container" style="margin-top:60px;">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.categorie)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.categorie)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.etat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.etat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.typeClient)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.typeClient)
            </dd>

        </dl>
    </div>

</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
