@model Web.Areas.admin2.Models.ClientViewModel

@{
   
    ViewBag.Title = "Edit";
}

<h2>FindByID</h2>
@using (Html.BeginForm())
{
<div>
    <h4>ClientViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categorie)
        </dt>

        <dd>
            @Html.EditorFor(model => model.categorie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etat)
        </dt>

        <dd>
            @Html.EditorFor(model => model.etat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.logo)
        </dt>

        <dd>
            @Html.EditorFor(model => model.logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.EditorFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeClient)
        </dt>

        <dd>
            @Html.EditorFor(model => model.typeClient)
        </dd>
        <dd>
            <div class="col-md-offset-2 col-md-10">
                <input id="btnSubmit" type="submit" value="Save" class="btn btn-default"
       />

            </div>
        </dd>
    </dl>

    
        
</div>
}
<p>
    @Html.ActionLink("Back to List", "Index")

   
</p>
