@model IEnumerable<Web.Areas.admin2.Models.ProjetViewModel>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Areas/admin2/Views/Shared/_Layoutadmin2.cshtml";
    }
    <style>
        #myDIV {
            width: 100%;
            padding: 50px 0;
            text-align: center;
            background-color: lightblue;
            margin-top: 20px;
        }
    </style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function ajouter()
        {
            var urlEdit='@Html.Raw(@Url.Action("addResourceRequest", "ResourceRequest",new { idproject = "idprojectt",searchedProfile="searchedProfilee",requirements="requirementss",yearsOfExperience="yearsOfExperiencee", titreproject= "titreprojectt" } ))';
            urlEdit =urlEdit.replace("idprojectt",document.getElementById("idproject").value); 
                urlEdit=urlEdit.replace("searchedProfilee",document.getElementById("searchedProfile").value);
                urlEdit=urlEdit.replace("requirementss",document.getElementById("requirements").value);
                urlEdit = urlEdit.replace("yearsOfExperiencee", document.getElementById("yearsOfExperience").value);
                urlEdit = urlEdit.replace("titreprojectt", document.getElementById("titreproject").value);

                alert(urlEdit); 

            $.ajax({
                method: 'POST',
                url: urlEdit,
                ifModified:true,
                success: function(d)
                {
                    document.getElementById("id01").hidden = true;
                      //alert(d);  

                    }
                });
            }


            function display() {
                /*  var x = document.getElementById("myDIV");
                 // alert(document.getElementById("idproject").value);
                  if (x.style.display == "none") {

                      x.style.display = "block";

                  } else {
                      // alert(document.getElementById("idproject").value);
                      x.style.display = "none";
                  }*/
            }
    </script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div class="w3-container">

        <div id="id01" class="w3-modal w3-animate-opacity">
            <div class="w3-modal-content w3-card-4">
                <header class="w3-container w3-teal">
                    <span onclick="document.getElementById('id01').style.display='none'"
                          class="w3-button w3-large w3-display-topright">&times;</span>
                    <h2>Resource Request</h2>
                </header>
                <div class="w3-container">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-control">
                                <button class="btn btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                                <button class="btn btn-default" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                                <button class="btn btn-default" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                                <button class="btn btn-default" data-dismiss="panel"><i class="fa fa-times"></i></button>
                            </div>
                            <h3 class="panel-title">Create Resource Request</h3>
                        </div>
                        <!--Block Styled Form -->
                        <!--===================================================-->
                       
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Searched Profile</label>
                                        <input type="text" id="searchedProfile" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Requirements</label>
                                        <input type="text" id="requirements" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Years of Experience</label>
                                        <input type="number" id="yearsOfExperience" class="form-control">
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="panel-footer text-right">

                            <input type="submit" onclick="ajouter()" value="Create" class="btn btn-info" />
                        </div>
                        
                        <!--===================================================-->
                        <!--End Block Styled Form -->
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="pageheader hidden-xs">
        <h3><i class="fa fa-home"></i> My Projects </h3>
        <div class="breadcrumb-wrapper">
            <span class="label">You are here:</span>
            <ol class="breadcrumb">
                <li> <a href="#"> Home </a> </li>
                <li class="active"> Project </li>
            </ol>
        </div>
    </div>
    <div id="page-content">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6 col-xs-12">
                    
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-9 col-sm-9 col-xs-10">
                                    <input hidden id="idproject" class="idproject" value="@item.id"/>
                                    <input hidden id="titreproject" class="idproject" value="@item.nom" />
                                    <h3 class="mar-no"> <span class="counter">@Html.DisplayFor(modelItem => item.nom)</span></h3>

                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-2" onclick="display()">
                                    <i class="fa fa-plus fa-3x text-success" onclick="document.getElementById('id01').style.display='block'"></i>

                                </div>
                            </div>
                            <div class="progress progress-striped progress-sm">
                                <div style="width: 80%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar"> <span class="sr-only">60% Complete</span> </div>
                            </div>
                            <p> @Html.DisplayFor(modelItem => item.projetStartDate) | @Html.DisplayFor(modelItem => item.projetEndDate) </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
